@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

body {
  font-family: variables.$font-inter;
  font-weight: 300;
  line-height: 1.62;
  color: variables.$color-181818;
  background-image: radial-gradient(154.47% 69.54% at 49.13% 50.79%, #dddee4 0%, #f8f9fd 49.58%, #dddee4 100%);
  background-attachment: fixed;

  .scroll-lock & {
    overflow: hidden;
  }

  @media (min-width: #{1200 + 0.1px}) {
    html:not(.burger-active) & {
      &::after {
        opacity: 0;
        visibility: hidden;
      }
    }

    &::after {
      content: "";
      position: fixed;
      inset: 0;
      z-index: 125;
      background: rgba(0, 0, 0, 0.42);
      backdrop-filter: blur(4px);
      transform: translateZ(0);

      @include mixins.prefers-reduced-motion {
        transition-property: opacity, visibility;
        transition-duration: 0.3s;
      }
    }
  }
}
