@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.footer {
  display: grid;
  align-items: center;
  row-gap: functions.responsive-value(11, 19, 768, 375, "fixed-both", "px");
  column-gap: 32px;
  padding-block: functions.responsive-value(16, 42, "default", 768, "fixed-both", "px")
    functions.responsive-value(47, 51, 768, 375, "fixed-both", "px");
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: variables.$color-white;
  background-color: variables.$color-010e25;

  @media (min-width: #{700 + 0.1px}) {
    grid-template-columns: 1fr auto;
    padding-block-end: functions.responsive-value(32, 47, "default", 768, "fixed-both", "px");
  }

  @media (min-width: #{1200 + 0.1px}) {
    grid-template-columns: 1fr auto 1fr;
    line-height: 1;
  }

  // .footer__policies
  &__policies {
    @media (max-width: 700px) {
      margin-block-end: 7px;
    }
  }
}

.footer-copy {
  @media (min-width: #{1200 + 0.1px}) or (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: functions.responsive-value(17, 8, "default", "default", "fixed-both", "px");
  }

  // .footer-copy__text
  &__text {
    @media (min-width: #{700 + 0.1px}) {
      @media (max-width: 1200px) {
        &[style] {
          &::after {
            content: var(--content);
          }
        }
      }
    }
  }
}

.footer-policies {
  display: contents;
  align-items: start;

  @media (min-width: #{1200 + 0.1px}) or (max-width: 700px) {
    display: flex;
    flex-direction: column-reverse;
    gap: functions.responsive-value(17, 8, "default", "default", "fixed-both", "px");
  }

  @media (min-width: #{1200 + 0.1px}) {
    align-items: center;
    text-align: center;
  }

  // .footer-policies__text
  &__text {
    text-wrap: balance;
  }

  // .footer-policies__link
  &__link {
    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      &:not(:active) {
        color: variables.$color-a8a8a8;
      }
    }
  }
}

.footer-design {
  display: flex;
  align-items: center;
  align-self: center;
  gap: functions.responsive-value(43, 13, "default", 768, "fixed-both", "px");
  letter-spacing: 0;

  @media (min-width: #{700 + 0.1px}) {
    justify-content: end;
  }

  @media (min-width: #{1200 + 0.1px}) {
    align-self: start;
  }

  // .footer-design__text
  &__text {
  }

  // .footer-design__image
  &__image {
    flex: 0 0 auto;
    inline-size: 89px;
    aspect-ratio: 89 / 30;
    font-size: 0;

    img {
      object-fit: contain;
    }
  }
}
