@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.header {
  block-size: variables.$header-height;

  // .header__wrapper
  &__wrapper {
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-block: functions.responsive-value(14, 12, 768, "default", "fixed-both", "px");
    background-color: rgba(255, 255, 255, 0.84);
    transform: translateZ(0);
    will-change: backdrop-filter;

    html:not(.scrolled) & {
      color: variables.$color-white;
      background-color: variables.$color-010e25;
    }

    .scrolled & {
      backdrop-filter: blur(7px);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color, backdrop-filter;
      transition-duration: 0.3s;
    }

    @media (min-width: #{767 + 0.1px}) {
      padding-block: functions.responsive-value(20, 14, "default", 768, "fixed-both", "px");
    }
  }

  // .header__logo
  &__logo {
    @media (max-width: 1440px) {
      margin-inline-end: auto;
    }
  }

  // .header__nav
  &__nav {
    flex: 1 1 auto;
  }

  // .header__button
  &__button {
    --button-fz: #{functions.responsive-value(16, 14, "default", 768, "fixed-both", "px")};

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: start;

  // .header-logo__image
  &__image {
    flex: 0 0 auto;
    inline-size: functions.responsive-value(160, 136, 768, "default", "fixed-both", "px");
    aspect-ratio: 193 / 57.92;
    font-size: 0;

    @media (min-width: #{768 + 0.1px}) {
      inline-size: functions.responsive-value(193, 160, "default", 768, "fixed-both", "px");
    }

    img {
      object-fit: contain;
    }
  }
}

.header-nav {
  @media (max-width: 1440px) {
    display: none;
  }

  // .header-nav__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
  }

  // .header-nav__item
  &__item {
  }
}

.header-dropdown {
  position: relative;
  isolation: isolate;

  // .header-dropdown__category
  &__category {
    display: flex;
    align-items: center;
    gap: 4px;

    &::after {
      content: "-";
      font-weight: 300;

      .header-dropdown:not(:hover, :focus-within) & {
        content: "+";
      }
    }
  }

  // .header-dropdown__inner
  &__inner {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    z-index: -1;
    padding-block-start: 12px;

    @include mixins.prefers-reduced-motion {
      transition-property: opacity, visibility;
      transition-duration: 0.3s;
    }

    .header-dropdown:not(:hover, :focus-within) & {
      opacity: 0;
      visibility: hidden;
    }
  }

  // .header-dropdown__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    inline-size: max-content;
    min-inline-size: 180px;
    padding-block: 20px 22px;
    padding-inline: 22px;
    border-radius: 24px;
    background-color: variables.$color-white;
  }

  // .header-dropdown__item
  &__item {
  }

  // .header-dropdown__link
  &__link {
    line-height: 1.12;
    color: variables.$color-020f28;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-a8a8a8;
    }
  }
}

.header-link {
  font-family: variables.$font-made-evolve-sans;
  font-weight: 400;
  line-height: 1;

  @include mixins.prefers-reduced-motion {
    transition-property: color;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-a8a8a8;
  }
}

.header-call {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 767px) {
    display: none;
  }

  // .header-call__tel
  &__tel {
    font-size: 21px;
    line-height: 1.24;
    white-space: nowrap;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-a8a8a8;
    }
  }

  // .header-call__text
  &__text {
    font-size: 10px;
    letter-spacing: 0.01em;

    html:not(.scrolled) & {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.burger-open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  inline-size: functions.responsive-value(59, 40, 768, "default", "fixed-both", "px");
  aspect-ratio: 1 / 1;
  font-size: 0;
  color: variables.$color-4795d1;
  border: 1px solid variables.$color-4795d1;
  border-radius: 50%;

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: variables.$color-020f28;
    background-color: variables.$color-4795d1;
    box-shadow: 0 6px 12px 0 rgba(71, 149, 209, 0.4);
  }

  svg {
    width: functions.responsive-value(27, 19, 768, "default", "fixed-both", "px");
    height: functions.responsive-value(5, 4, 768, "default", "fixed-both", "px");
  }
}

.burger-menu {
  position: fixed;
  isolation: isolate;
  inset-block: 0;
  inset-inline-end: 0;
  z-index: 150;
  inline-size: 100%;
  padding-block-end: functions.responsive-value(60, 37, 768, "default", "fixed-both", "px");
  padding-inline: functions.responsive-value(53, 16, 768, "default", "fixed-both", "px")
    functions.responsive-value(47, 16, 768, "default", "fixed-both", "px");
  background-color: variables.$color-eaebf0;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: auto;

  html:not(.burger-active) & {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
  }

  @include mixins.prefers-reduced-motion {
    transition-property: opacity, visibility, transform;
    transition-duration: 0.3s;
  }

  @media (min-width: #{700 + 0.1px}) {
    max-inline-size: functions.responsive-value(619, 392, "default", 768, "fixed-both", "px");
  }

  @media (min-width: #{768 + 0.1px}) {
    padding-block-end: 60px;
    padding-inline: functions.responsive-value(72, 53, "default", 768, "fixed-both", "px")
      functions.responsive-value(155, 47, "default", 768, "fixed-both", "px");
  }

  @media (min-width: #{1200 + 0.1px}) {
    padding-block-start: functions.responsive-value(37, 14, "default", 768, "fixed-both", "px");
  }

  &::-webkit-scrollbar {
    display: none;
  }

  > *:last-child {
    margin-block-end: 0;
  }

  // .burger-menu__header
  &__header {
    @media (max-width: 1200px) {
      --padding: #{functions.responsive-value(14, 8, 768, "default", "fixed-both", "px")};

      position: sticky;
      inset-block-start: 0;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-inline: functions.responsive-value(-23, -10, 768, "default", "fixed-both", "px")
        functions.responsive-value(-23, 0, 768, "default", "fixed-both", "px");
      margin-block-end: calc(functions.responsive-value(20, 43, 768, "default", "fixed-both", "px") - var(--padding));
      padding-block: var(--padding);
      background-color: variables.$color-eaebf0;

      @media (min-width: #{768 + 0.1px}) {
        margin-inline: functions.responsive-value(0, -23, "default", 768, "fixed-both", "px");

        @media (max-width: 1200px) {
          --padding: #{functions.responsive-value(37, 14, "default", 768, "fixed-both", "px")};
        }
      }
    }

    @media (min-width: #{1200 + 0.1px}) {
      visibility: hidden;
    }
  }

  // .burger-menu__logo
  &__logo {
    flex: 0 0 auto;
    inline-size: 160px;
    aspect-ratio: 160 / 48.01;
    margin-inline-end: auto;
    font-size: 0;

    @media (min-width: #{700 + 0.1px}) {
      display: none;
    }

    img {
      object-fit: contain;
    }
  }

  // .burger-menu__inner
  &__inner {
    margin-block-end: functions.responsive-value(32, 40, "default", 768, "fixed-both", "px");
  }

  // .burger-menu__call
  &__call {
    margin-block-end: 28px;
  }

  // .burger-menu__button
  &__button {
    --button-gap: #{functions.responsive-value(20, 27, 768, "default", "fixed-both", "px")};
    --padding-l: 41px;
    --button-fz: #{functions.responsive-value(16, 18, 768, "default", "fixed-both", "px")};

    @media (min-width: #{1200 + 0.1px}) {
      inline-size: fit-content;
    }
  }
}

.burger-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  inline-size: functions.responsive-value(59, 40, 768, "default", "fixed-both", "px");
  aspect-ratio: 1 / 1;
  font-size: 0;
  color: variables.$color-white;
  background-color: variables.$color-4795d1;
  border-radius: 50%;
  visibility: visible;

  @media (min-width: #{1200 + 0.1px}) {
    position: fixed;
    inset-block-start: 20px;
    inset-inline-end: 20px;
    z-index: 5;
  }

  svg {
    width: functions.responsive-value(38, 26, 768, "default", "fixed-both", "px");
    height: functions.responsive-value(38, 26, 768, "default", "fixed-both", "px");
  }
}

.burger-spoilers {
  // .burger-spoilers__item
  &__item {
    @media (min-width: #{700 + 0.1px}) {
      border-block-end: 1px solid rgba(164, 177, 186, 0.59);
    }

    @media (max-width: 700px) {
      margin-block-end: 24px;
    }
  }

  // .burger-spoilers__label
  &__label {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-weight: 400;
    font-size: functions.responsive-value(20, 18, "default", 768, "fixed-both", "px");
    text-transform: uppercase;
    color: variables.$color-195e95;

    @media (min-width: #{700 + 0.1px}) {
      min-block-size: functions.responsive-value(72, 56, "default", 768, "fixed-both", "px");
      padding-block: 5px;
    }

    @media (max-width: 700px) {
      padding-inline-end: 12px;
    }
  }

  // .burger-spoilers__link
  &__link {
    &:not(:has(+ .burger-spoilers__button)) {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
      }
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-a8a8a8;
    }
  }

  // .burger-spoilers__button
  &__button {
    flex: 0 0 auto;
    inline-size: 15px;
    aspect-ratio: 1 / 1;
    font-size: 0;

    .spoiler-active & {
      &::before {
        clip-path: polygon(
          0% 45.5%,
          45.5% 45.5%,
          45.5% 45.5%,
          54.5% 45.5%,
          54.5% 45.5%,
          100% 45.5%,
          100% 54.5%,
          54.5% 54.5%,
          54.5% 54.5%,
          45.5% 54.5%,
          45.5% 54.5%,
          0% 54.5%
        );
      }
    }

    &::before {
      content: "";
      display: block;
      inline-size: 100%;
      block-size: 100%;
      color: variables.$color-181818;
      clip-path: polygon(
        0% 45.5%,
        45.5% 45.5%,
        45.5% 0%,
        54.5% 0%,
        54.5% 45.5%,
        100% 45.5%,
        100% 54.5%,
        54.5% 54.5%,
        54.5% 100%,
        45.5% 100%,
        45.5% 54.5%,
        0% 54.5%
      );
      background-color: currentColor;

      @include mixins.prefers-reduced-motion {
        transition-property: clip-path;
        transition-duration: 0.3s;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }

  // .burger-spoilers__region
  &__region {
  }
}

.burger-region {
  // .burger-region__list
  &__list {
    padding-block-start: functions.responsive-value(9, 24, 768, "default", "fixed-both", "px");

    @media (min-width: #{700 + 0.1px}) {
      padding-block-end: functions.responsive-value(8, 32, 768, "default", "fixed-both", "px");
    }

    @media (min-width: #{768 + 0.1px}) {
      padding-block: 9px functions.responsive-value(35, 8, "default", 768, "fixed-both", "px");
    }
  }

  // .burger-region__item
  &__item {
    &:not(:last-child) {
      margin-block-end: functions.responsive-value(20, 18, "default", 768, "fixed-both", "px");
    }
  }

  // .burger-region__link
  &__link {
    display: inline-block;
    font-size: functions.responsive-value(16, 18, 768, "default", "fixed-both", "px");
    text-wrap: balance;

    @media (min-width: #{768 + 0.1px}) {
      font-size: functions.responsive-value(18, 16, "default", 768, "fixed-both", "px");
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-a8a8a8;
    }
  }
}

.burger-call {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  color: variables.$color-195e95;

  // .burger-call__tel
  &__tel {
    font-size: 30px;
    line-height: 1;
    white-space: nowrap;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-a8a8a8;
    }
  }

  // .burger-call__text
  &__text {
    font-size: 14px;
    line-height: 1.29;
  }
}
