@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.button {
  --outline-color: #{variables.$color-181818};

  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--button-gap, 10px);
  min-block-size: 59px;
  padding-block: 7px;
  padding-inline: var(--padding-l, 24px) 7px;
  font-weight: 400;
  font-size: var(--button-fz, 18px);
  line-height: 1;
  text-align: end;
  color: variables.$color-white;
  background-color: variables.$color-4795d1;
  border-radius: 32px;

  &:active {
    background-color: variables.$color-da1f27;
  }

  @include mixins.prefers-reduced-motion {
    transition-property: background-color, box-shadow;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    background-color: variables.$color-da1f27;

    &:not(:active) {
      box-shadow: 0 6px 12px 0 rgba(218, 31, 39, 0.4);
    }
  }

  // .button__text
  &__text {
    flex: 1 1 auto;
    text-align: center;
  }

  // .button__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    inline-size: 45px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: variables.$color-white;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 50%;
    opacity: 0.45;
    transform: rotate(-45deg);

    .button:active & {
      background-color: rgba(255, 255, 255, 0.34);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .button:hover:not(:active) & {
        background-color: variables.$color-white;
        color: variables.$color-da1f27;
      }
    }
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: functions.responsive-value(8, 11, 768, "default", "fixed-both", "px");
  min-inline-size: functions.responsive-value(128, 135, 768, "default", "fixed-both", "px");
  min-block-size: 66px;
  padding-block: 5px;
  padding-inline: 13px;
  font-size: functions.responsive-value(18, 14, "default", 768, "fixed-both", "px");
  line-height: 1;
  text-align: start;
  background-color: var(--social-link-bg, rgba(255, 255, 255, 0.12));
  border-radius: 52px;

  // .social-link--blue
  &--blue {
    --social-link-bg: #{variables.$color-4795d1};
    --social-link-bg-active: #{variables.$color-da1f27};
    --social-link-color-hover: #{variables.$color-white};
    --social-link-bg-hover: #{variables.$color-da1f27};
    --social-link-box-shadow: #{rgba(218, 31, 39, 0.4)};
    --social-link-icon-color: currentColor;
    --social-link-icon-active-opacity: 0.5;
  }

  &:active {
    background-color: var(--social-link-bg-active, rgba(255, 255, 255, 0.53));
  }

  @include mixins.prefers-reduced-motion {
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.3s;
  }

  @include mixins.hover {
    color: var(--social-link-color-hover, variables.$color-020f28);

    &:not(:active) {
      background-color: var(--social-link-bg-hover, variables.$color-white);
      box-shadow: 0 6px 12px 0 var(--social-link-box-shadow, rgba(255, 255, 255, 0.4));
    }
  }

  @media (min-width: #{768 + 0.1px}) {
    gap: functions.responsive-value(6, 8, "default", 768, "fixed-both", "px");
    min-inline-size: functions.responsive-value(155, 128, "default", 768, "fixed-both", "px");
  }

  // .social-link__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    inline-size: 32px;
    aspect-ratio: 1 / 1;
    font-size: 0;
    color: var(--social-link-icon-color, variables.$color-a4b1ba);

    .social-link:active & {
      opacity: var(--social-link-icon-active-opacity);
    }

    @include mixins.prefers-reduced-motion {
      transition-property: color, opacity;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .social-link:hover & {
        color: currentColor;
      }
    }
  }

  // .social-link__text
  &__text {
  }
}
