@use "blocks/hero";
@use "blocks/list";
@use "blocks/order";
@use "blocks/quote";
@use "blocks/projects";
@use "blocks/reviews";
@use "blocks/principles";
@use "blocks/faq";
@use "blocks/sale";
@use "blocks/contacts";
