$color-white: #fff;
$color-black: #000;

$color-181818: #181818;
$color-010e25: #010e25;
$color-a8a8a8: #a8a8a8;
$color-4795d1: #4795d1;
$color-020f28: #020f28;
$color-da1f27: #da1f27;
$color-eaebf0: #eaebf0;
$color-195e95: #195e95;
$color-c9dbe9: #c9dbe9;
$color-3d3e47: #3d3e47;
$color-646a75: #646a75;
$color-f3f4f9: #f3f4f9;
$color-34383f: #34383f;
$color-a4b1ba: #a4b1ba;
$color-d9d9d9: #d9d9d9;
$color-f7f8fc: #f7f8fc;
