$color-white: #fff;
$color-black: #000;

$color-181818: #181818;
$color-010e25: #010e25;
$color-a8a8a8: #a8a8a8;
$color-4795d1: #4795d1;
$color-020f28: #020f28;
$color-da1f27: #da1f27;
$color-eaebf0: #eaebf0;
$color-195e95: #195e95;
