@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.sale {
  padding-block: functions.responsive-value(60, 26, "default", 768, "fixed-both", "px")
    functions.responsive-value(41, 36, 768, "default", "fixed-both", "px");

  @media (min-width: #{768 + 0.1px}) {
    padding-block-end: functions.responsive-value(36, 41, "default", 768, "fixed-both", "px");
  }

  // .sale__title
  &__title {
    --h2-color: #{variables.$color-34383f};
    --h2-fz: #{functions.responsive-value(58, 40, "default", 768, "fixed-both", "px")};

    margin-block-end: functions.responsive-value(26, 19, 768, "default", "fixed-both", "px");

    @media (min-width: #{768 + 0.1px}) {
      margin-block-end: functions.responsive-value(49, 26, "default", 768, "fixed-both", "px");
    }

    br {
      @media (min-width: #{600 + 0.1px}) {
        display: none;
      }
    }
  }
}

.sale-slider {
  @media (max-width: 1300px) {
    overflow: visible;
  }

  // .sale-slider__wrapper
  &__wrapper {
  }

  // .sale-slider__slide
  &__slide {
    @media (max-width: 1300px) {
      max-inline-size: functions.responsive-value(456, 411, "default", 768, "fixed-both", "px");
    }

    @media (max-width: 768px) {
      max-inline-size: functions.responsive-value(411, 300, 768, "default", "fixed-both", "px");
    }
  }

  // .sale-slider__controllers
  &__controllers {
    margin-block-start: functions.responsive-value(26, 32, 768, "default", "fixed-both", "px");

    @media (min-width: #{768 + 0.1px}) {
      margin-block-start: functions.responsive-value(52, 26, "default", 768, "fixed-both", "px");
    }
  }
}

.sale-card {
  // .sale-card__inner
  &__inner {
    font-weight: 400;
    line-height: 1;
    color: variables.$color-34383f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-4795d1;
    }
  }

  // .sale-card__image
  &__image {
    margin-block-end: functions.responsive-value(17, 9, 768, "default", "fixed-both", "px");
    aspect-ratio: 456 / 340;
    font-size: 0;
    border-radius: functions.responsive-value(14, 16, 768, "default", "fixed-both", "px");

    @media (min-width: #{768 + 0.1px}) {
      margin-block-end: functions.responsive-value(19, 17, "default", 768, "fixed-both", "px");
      border-radius: functions.responsive-value(16, 14, "default", 768, "fixed-both", "px");
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: rgba(71, 149, 209, 0.24);

      @include mixins.prefers-reduced-motion {
        transition-property: opacity;
        transition-duration: 0.3s;
      }

      @media (hover) {
        .sale-card__inner:not(:hover) & {
          opacity: 0;
        }
      }
    }
  }

  // .sale-card__content
  &__content {
    display: flex;
    gap: functions.responsive-value(24, 11, 768, "default", "fixed-both", "px");

    @media (min-width: #{768 + 0.1px}) {
      gap: functions.responsive-value(27, 24, "default", 768, "fixed-both", "px");
    }
  }

  // .sale-card__time
  &__time {
    display: flex;
    flex-direction: column;
    min-block-size: functions.responsive-value(65, 56, 768, "default", "fixed-both", "px");
    padding-block: functions.responsive-value(13, 15, "default", 768, "fixed-both", "px");
    padding-inline-end: functions.responsive-value(18, 11, 768, "default", "fixed-both", "px");
    font-size: functions.responsive-value(16, 14, "default", 768, "fixed-both", "px");
    text-align: center;
    border-inline-end: 1px solid variables.$color-d9d9d9;

    @include mixins.prefers-reduced-motion {
      transition-property: border-inline-end-color;
      transition-duration: 0.3s;
    }

    @media (hover) {
      .sale-card__inner:hover & {
        border-inline-end-color: variables.$color-4795d1;
      }
    }

    @media (min-width: #{768 + 0.1px}) {
      min-block-size: functions.responsive-value(72, 65, "default", 768, "fixed-both", "px");
    }
  }

  // .sale-card__text
  &__text {
    font-size: functions.responsive-value(20, 16, 768, "default", "fixed-both", "px");

    @media (min-width: #{600 + 0.1px}) {
      padding-block: functions.responsive-value(5, 9, "default", 768, "fixed-both", "px");
    }

    @media (min-width: #{768 + 0.1px}) {
      font-size: functions.responsive-value(22, 20, "default", 768, "fixed-both", "px");
    }

    @media (max-width: 600px) {
      align-self: center;
    }
  }
}
