@use "../../../functions/functions";
@use "../../../mixins/mixins";
@use "../../../variables/variables";

.sale {
  padding-block: functions.responsive-value(60, 26, "default", 768, "fixed-both", "px")
    functions.responsive-value(41, 36, 768, "default", "fixed-both", "px");

  @media (min-width: #{768 + 0.1px}) {
    padding-block-end: functions.responsive-value(36, 41, "default", 768, "fixed-both", "px");
  }

  // .sale__title
  &__title {
    --h2-color: #{variables.$color-34383f};
    --h2-fz: #{functions.responsive-value(58, 40, "default", 768, "fixed-both", "px")};

    margin-block-end: functions.responsive-value(26, 17, 768, "default", "fixed-both", "px");

    @media (min-width: #{768 + 0.1px}) {
      margin-block-end: functions.responsive-value(49, 26, "default", 768, "fixed-both", "px");
    }

    @media (max-width: 600px) {
      line-height: 1.15;
    }

    br {
      @media (min-width: #{600 + 0.1px}) {
        display: none;
      }
    }
  }
}

.sale-slider {
  @media (max-width: 1300px) {
    overflow: visible;
  }

  // .sale-slider__wrapper
  &__wrapper {
  }

  // .sale-slider__slide
  &__slide {
    @media (max-width: 1300px) {
      max-inline-size: functions.responsive-value(456, 411, "default", 768, "fixed-both", "px");
    }

    @media (max-width: 768px) {
      max-inline-size: functions.responsive-value(411, 300, 768, "default", "fixed-both", "px");
    }
  }

  // .sale-slider__controllers
  &__controllers {
    margin-block-start: functions.responsive-value(26, 32, 768, "default", "fixed-both", "px");

    @media (min-width: #{768 + 0.1px}) {
      margin-block-start: functions.responsive-value(52, 26, "default", 768, "fixed-both", "px");
    }
  }
}

.sale-card {
  container-type: inline-size;

  // .sale-card--red
  &--red {
  }

  // .sale-card--blue
  &--blue {
  }

  // .sale-card__inner
  &__inner {
    font-weight: 400;
    line-height: 1;
    color: variables.$color-34383f;

    @include mixins.prefers-reduced-motion {
      transition-property: color;
      transition-duration: 0.3s;
    }

    @include mixins.hover {
      color: variables.$color-4795d1;
    }
  }

  // .sale-card__grid
  &__grid {
    position: relative;
    isolation: isolate;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 456 / 340;
    padding: calc(6 / 456 * 100cqi);
    color: variables.$color-white;
    background-color: variables.$color-white;
    border-radius: calc(16 / 456 * 100cqi);
    overflow: hidden;

    @media (min-width: #{1300 + 0.1px}) {
      .sale-slider__wrapper:has(.sale-slider__slide:nth-child(4)) & {
        &::before {
          content: "";
        }
      }

      &::before {
        position: absolute;
        inset: 0;
        z-index: -1;
        font-size: 0;

        .sale-card--red & {
          background-image: linear-gradient(326.03deg, #8a070c 1.17%, #da1f27 99.34%);
        }

        .sale-card--blue & {
          background-image: linear-gradient(326.03deg, #195e95 1.17%, #4795d1 99.34%);
        }

        .sale-slider__wrapper:has(.sale-slider__slide:nth-child(4)) .sale-slider__slide:not(.swiper-slide-active) & {
          opacity: 0;
        }

        @include mixins.prefers-reduced-motion {
          transition-property: opacity;
          transition-duration: 0.3s;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: rgba(71, 149, 209, 0.24);

      @include mixins.prefers-reduced-motion {
        transition-property: opacity;
        transition-duration: 0.3s;
      }

      @media (hover) {
        .sale-card__inner:not(:hover) & {
          opacity: 0;
        }
      }
    }
  }

  // .sale-card__image
  &__image {
    font-size: 0;
    border-start-start-radius: calc(10 / 456 * 100cqi);
    border-end-start-radius: calc(10 / 456 * 100cqi);
  }

  // .sale-card__column
  &__column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: calc(24 / 456 * 100cqi);
    block-size: 100%;
    padding: calc(16 / 456 * 100cqi);
    font-weight: 200;
    border-start-end-radius: calc(10 / 456 * 100cqi);
    border-end-end-radius: calc(10 / 456 * 100cqi);

    .sale-card--red & {
      background-image: linear-gradient(326.03deg, #8a070c 1.17%, #da1f27 99.34%);
    }

    .sale-card--blue & {
      background-image: linear-gradient(326.03deg, #195e95 1.17%, #4795d1 99.34%);
    }
  }

  // .sale-card__badge
  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: calc(36 / 456 * 100cqi);
    padding-block: calc(5 / 456 * 100cqi);
    padding-inline: calc(8 / 456 * 100cqi);
    font-size: calc(12 / 456 * 100cqi);
    line-height: 1;
    text-align: center;
    border: 1px solid;
    border-radius: calc(24 / 456 * 100cqi);
  }

  // .sale-card__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    align-self: end;
    inline-size: calc(40 / 456 * 100cqi);
    aspect-ratio: 1 / 1;
    margin-block-start: auto;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 50%;
    transform: rotate(-45deg);

    svg {
      width: calc(16 / 456 * 100cqi);
      height: calc(16 / 456 * 100cqi);
    }
  }

  // .sale-card__text
  &__text {
    margin-block-start: calc(16 / 456 * 100cqi);
    font-size: calc(20 / 456 * 100cqi);
  }
}

.sale-title {
  font-size: calc(28 / 456 * 100cqi);
  line-height: calc(42 / 40);

  // .sale-title__bold
  &__bold {
    font-weight: 500;
  }
}
